#usernameinput{
  position: center;
  width:650px;
  margin: auto;
}
#reposearch{
  position: left;
  width:650px;
  margin: auto;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
