/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(src/assets/image/pan.png);
    background-repeat: no-repeat;
    background-size:1450px 900px;
}
